<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c4b1">  <td>20/11/19 15:15:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Add_DirectInvoice_05.CreateDirectInvoiceTest()[pri:0, instance:com.ims.testcases.TC_Add_DirectInvoice_05@1e802ef9]">CreateDirectInvoiceTest</td> 
  <td>main@787738361</td>   <td></td> </tr>
<tr bgcolor="6297d2">  <td>20/11/19 15:15:08</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ims.testcases.TC_Add_DirectInvoice_05@1e802ef9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
