<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f7194">  <td>20/11/19 15:33:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddNewOrg_10.AddNewOrg()[pri:0, instance:com.ims.testcases.TC_AddNewOrg_10@4ddced80]">AddNewOrg</td> 
  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="746a6f">  <td>20/11/19 15:38:21</td>   <td>298873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_PurchasePackagePlan0.AddNewOrg()[pri:0, instance:com.ims.testcases.TC_PurchasePackagePlan0@79b06cab]">AddNewOrg</td> 
  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="b46384">  <td>20/11/19 15:37:39</td>   <td>256687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddNewPurchaseOrder_09.AddNewPurchaseOrder()[pri:0, instance:com.ims.testcases.TC_AddNewPurchaseOrder_09@4690b489]">AddNewPurchaseOrder</td> 
  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="68efa0">  <td>20/11/19 15:33:58</td>   <td>36063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddNewSalesOrder_07.AddNewSalesOrder()[pri:0, instance:com.ims.testcases.TC_AddNewSalesOrder_07@1534f01b]">AddNewSalesOrder</td> 
  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="6abc94">  <td>20/11/19 15:34:33</td>   <td>70981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddPackage_08.AddPackage()[pri:0, instance:com.ims.testcases.TC_AddPackage_08@78e117e3]">AddPackage</td> 
  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="c360f1">  <td>20/11/19 15:32:42</td>   <td>-39987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Add_DirectInvoice_05.CreateDirectInvoiceTest()[pri:0, instance:com.ims.testcases.TC_Add_DirectInvoice_05@65466a6a]">CreateDirectInvoiceTest</td> 
  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/11/19 15:36:59</td>   <td>216550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddBill_06.addBillTest()[pri:0, instance:com.ims.testcases.TC_AddBill_06@363ee3a2]">addBillTest</td> 
  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="7c7bf6">  <td>20/11/19 15:36:14</td>   <td>171539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddCustomerContact_02.addCustomer()[pri:0, instance:com.ims.testcases.TC_AddCustomerContact_02@4386f16]">addCustomer</td> 
  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="d3d1ba">  <td>20/11/19 15:39:44</td>   <td>381983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddVendorContact_03.addVendor()[pri:0, instance:com.ims.testcases.TC_AddVendorContact_03@7f552bd3]">addVendor</td> 
  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="c072cb">  <td>20/11/19 15:35:15</td>   <td>112593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddItem_04.loginTest()[pri:0, instance:com.ims.testcases.TC_AddItem_04@2ea227af]">loginTest</td> 
  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="ab799c">  <td>20/11/19 15:39:04</td>   <td>341461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login_01.loginTest()[pri:0, instance:com.ims.testcases.TC_Login_01@3eb7fc54]">loginTest</td> 
  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:32:21</td>   <td>-60898</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.ims.testcases.TC_Add_DirectInvoice_05@65466a6a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:33:00</td>   <td>-21910</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.ims.testcases.TC_AddNewOrg_10@4ddced80]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:33:40</td>   <td>17613</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.ims.testcases.TC_AddNewSalesOrder_07@1534f01b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:34:15</td>   <td>52961</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.ims.testcases.TC_AddPackage_08@78e117e3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:34:50</td>   <td>88023</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.ims.testcases.TC_AddItem_04@2ea227af]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:35:36</td>   <td>133632</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.ims.testcases.TC_AddCustomerContact_02@4386f16]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:36:38</td>   <td>195817</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.ims.testcases.TC_AddBill_06@363ee3a2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:37:19</td>   <td>236966</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.ims.testcases.TC_AddNewPurchaseOrder_09@4690b489]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:37:56</td>   <td>273663</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.ims.testcases.TC_PurchasePackagePlan0@79b06cab]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:38:39</td>   <td>316495</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.ims.testcases.TC_Login_01@3eb7fc54]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:39:25</td>   <td>362893</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.ims.testcases.TC_AddVendorContact_03@7f552bd3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:32:55</td>   <td>-27614</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ims.testcases.TC_Add_DirectInvoice_05@65466a6a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:33:34</td>   <td>11909</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ims.testcases.TC_AddNewOrg_10@4ddced80]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:34:10</td>   <td>47280</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ims.testcases.TC_AddNewSalesOrder_07@1534f01b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:34:45</td>   <td>82339</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ims.testcases.TC_AddPackage_08@78e117e3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:35:30</td>   <td>127928</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ims.testcases.TC_AddItem_04@2ea227af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:36:32</td>   <td>190130</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ims.testcases.TC_AddCustomerContact_02@4386f16]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:37:14</td>   <td>231271</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ims.testcases.TC_AddBill_06@363ee3a2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:37:50</td>   <td>267956</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ims.testcases.TC_AddNewPurchaseOrder_09@4690b489]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:38:33</td>   <td>310811</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ims.testcases.TC_PurchasePackagePlan0@79b06cab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:39:20</td>   <td>357211</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ims.testcases.TC_Login_01@3eb7fc54]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>20/11/19 15:40:02</td>   <td>399573</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ims.testcases.TC_AddVendorContact_03@7f552bd3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@38262958</td>   <td></td> </tr>
</table>
